body {
    background-color: #333;
    color: #999;
    overflow-x: hidden;
}

#inicio * { /* navbar */
    background-color: #252525;
}

.navbar-logo {
    opacity: 75%;
}

.navbar-logo:hover {
    opacity: 100%;
}

.bloco { /* container de titulo, imagem, texto, nav */
    background-color: #252525;
    min-height: 82vh;
    height: fit-content;
    padding: 0 3.5vw 1.5vh 3.5vw;
    min-width: min-content;
    width: max-content;
    margin: 2vh auto;
    border-radius: 8px;
}

.bloco-titulo { /* título imagens */
    padding: 5vh 1vw 6vh 1vw;
    font-family: monospace;
}

.bloco-conteudo { /* imagem, texto, nav */
    min-width: 280px;
    width: fit-content;
    max-width: 95vw;
    margin: 0 auto;
}

.imagem { /* imagem */
    min-width: 250px;
    width: 400px;
    max-width: 800px;
    padding-bottom: .9vh;
}

.bloco-conteudo p { /* texto */
    padding: 1vh 1vw 0 1vw;
    text-align: center;
    min-width: 12vw;
    width: 400px;
    max-width: 800px;
    font-size: 1em;
    height: 15vh;
}

.proximo { /* nav next */
    float: right;
    margin-top: 12vh;
    opacity: 65%;
    height: 6vh;
}

.proximo:hover { /* nav next */
    opacity: 100%;
}

.anterior { /* nav previous */
    float: left;
    margin-top: 12vh;
    opacity: 65%;
    height: 6vh;
}

.anterior:hover { /* nav previous */
    opacity: 100%;
}

.rotate90 { /* reuse nav img with image rotation right */
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.rotate-90 { /* reuse nav img with image rotation left */
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

#confiabilidade {
    margin-bottom: 3vh;
}

#confiabilidade .proximo {
    margin-top: 11vh;
}