body {
    background-color: #333;
    color: #999;
    overflow-x: hidden;
}

/* Navbar */
#inicio * { /* navbar */
    background-color: #252525;
}

#navbar-main {
    margin: 0;
    width: 100vw;
}

.navbar {
    padding-top: 0;
}

.nav-itens {
    min-height: fit-content;
    height: 3.8em;
}

#navbar-logo {
    height: 3em;
    opacity: 75%;
    padding: .5em 0;
}

#navbar-logo:hover {
    opacity: 100%;
}

.nav-icon {
    height: 1.4em;
    float: right;
    padding-right: .6em;
}

/* Conteúdo */

.bloco { /* container de titulo, imagem, texto, nav */
    margin: 1.6em auto;
    padding: 0 auto;
    background-color: #252525;
    border-radius: .5em;
}

.bloco-titulo { /* título imagens */
    padding: 5vh 0 6vh 3vw;
    font-family: monospace;
}

.bloco-conteudo { /* imagem, texto, nav */
    padding: 0 auto;
    margin: 0 auto;
    width: 26em;
}

.imagem { /* imagem */
    max-width: inherit;
}

.bloco-conteudo p { /* texto */
    padding-top: 1.5em;
    max-width: 95vw;
    text-align: justify;
    font-size: .92em;
    height: 6em;
}

.proximo { /* nav next */
    float: right;
    margin-top: 12vh;
    padding-right: 3em;
    opacity: 65%;
    height: 6vh;
}

.proximo:hover { /* nav next */
    opacity: 100%;
}

.anterior { /* nav previous */
    float: left;
    margin-top: 12vh;
    padding-left: 3em;
    opacity: 65%;
    height: 6vh;
}

.anterior:hover { /* nav previous */
    opacity: 100%;
}

.rotate90 { /* reuse nav img with image rotation right */
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.rotate-90 { /* reuse nav img with image rotation left */
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

#confiabilidade {
    margin-bottom: 3vh;
}

#confiabilidade .proximo {
    margin-top: 3em;
}

footer {
    background-color: #252525;
    padding: 7em 0 2em 0;
}

footer a {
    color: #7d7d7d;
    text-decoration: none;
}

footer a:hover {
    color: rgb(150, 150, 75);
}