body {
    background-color: #333;
    color: #999;
    width: 100vw;
    overflow-x: hidden;
}

.padrao {
    margin: 0.5em 2em;
}

.imagem-padrao {
    width: 540px;
    padding: 0.5em;
    height: 95vh;
    background-color: #252525;
}

.imagem-padrao-titulo {
    margin: 2em 1em 0.8em 1em;
    font-family: monospace;
}

.imagem-padrao p {
    margin: 0.5em 0.5em;
    padding: 0 1em;
}


.imagem-padrao:last-of-type {
    margin-bottom: 4em;
}

#inicio > * {
    background-color: #252525;
}

#nav-inicio {
    margin-bottom: 3vh;
    float: right;
    opacity: 65%;
}

#nav-inicio:hover {
    opacity: 100%;
}